on:
    push:
        branches:
            [main]

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: set up go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"
            
            - name: Build Application
              run: ./scripts/buildprod.sh