name: ci

on: 
    pull_request:
        branches:
            [main]

jobs:
    tests: 
        name: Run Tests
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"

            - name: Run Tests
              run: go test ./...