name: ci

on: 
    pull_request:
        branches:
            [main]

jobs:
    tests: 
        name: Tests
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"

            - name: Run unit tests
              run: go test ./... -cover
    
    style:
        name: code style check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"

            - name: format check
              run: test -z $(go fmt ./...)
                
              run: go test ./... -cover
